*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
  }
  
  header{
      display:flex;
       height: 70%;
      justify-content: space-between;
      align-items: center;
      letter-spacing: normal;
      padding: 10px;
      height: auto;
      background-color: aqua;
  }
  img{
      border-radius: 50%;
  }
  body{
      font-family:Georgia, 'Times New Roman', Times, serif 'Playfair', serif;
      background-color: rgb(206, 162, 195);
      text-align: justify;
      height: auto;
      width : auto;
      padding: auto;
     margin: 10px;
  }
  nav li,ul{
      list-style: none;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px ;
  }
  nav li :hover {
      background-color: rgb(112, 9, 153);
  
  }
  
  a{
      text-decoration: none;
      color: indigo;
  }
  p{  align-items: center;
      text-align:center;
  }
  
  
  
  #menu{
      text-align: center;
      
  }
  main{
      max-width: 1200px;
      margin: auto;
      text-align: center;
      
      
  }
  section{
      display: flex; /* section es el contenedor*/
      flex-direction: column; /* con esto hacemos que en mobile quede uno debajo del otro */
      justify-content: center; 
      align-items: center;  /* centramos y alineamos */
      padding: 16px;  /* colocamos padding para que no quede el texto pegado de los lados */
  }
  
  
  
  
  article{
      color: black;
      padding: 10%;
  }
  h2{
   background-color: rgb(241, 111, 187);
      border-radius:80px ;
      flex: auto;
      
  }
  #contacto{
      background-color: deepskyblue;
      margin: 10%;
  }
  
  
      footer{
          text-align: center;
          padding: 5%;
          background-color: aquamarine;
  }
  .icono{
      font-size: 50px;
  }
  @media (min-width:1024px){
  section#inicio{
          flex-direction: row;
      }
  }
  